<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wololo Warriors - League</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link href="../../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen" />
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Wololo Warriors</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">League</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</header>
<div class="container">
    <div class="page-header">
        <h1>League <small th:text="${league.name}"></small></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Table</a></li>
                <li role="presentation"><a href="#">History</a></li>
                <li role="presentation"><a href="#">Outstanding</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Games won</th>
                    <th>Games lost</th>
                </tr>
                <tr th:each="player: ${league.players}">
                    <td th:text="${player.rank}"></td>
                    <td th:text="${player.player.name}"></td>
                    <td th:text="${player.gamesWon}"></td>
                    <td th:text="${player.gamesLost}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js"></script>
</body>
</html>